<header>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" [routerLink]="['home']">
          <img src="assets/images/technico_logo.webp" alt="Technico Logo" class="logo-icon">
          <span class="technico-brand-text">TECHNICO</span>
        </a>
        
        <ul class="navbar-nav flex-row">
          <li class="nav-item mr-3">
            <a class="nav-link" [routerLink]="['/property-owner']" routerLinkActive="active-link">Show All Owners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['create-user']" routerLinkActive="active-link">Create Owner</a>
          </li>
        </ul>
      </div>
    </nav>
</header>
  