.navbar-nav {
    display: flex;
    gap: 1rem;
}
  
.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.active-link {
    background-color: #8ca3aa;
    color: white !important;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-icon {
    height: 30px;
    margin-right: 8px;
    vertical-align: middle;
}

.technico-brand-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0b0b0b;
    letter-spacing: 1px;
}