<h4>Update User</h4>

<form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">

    <div class="form-group">
        <label for="firstName">First Name</label>
        <input id="firstName" type="text" formControlName="firstName" placeholder="First Name" class="form-control">
    </div>
    <br>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input id="lastName" type="text" formControlName="lastName" placeholder="Last Name" class="form-control">
    </div>
    <br>

    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" placeholder="Email" class="form-control">
    </div>
    <br>

    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username" placeholder="Username" class="form-control">
    </div>
    <br>

    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" type="tel" formControlName="phoneNumber" placeholder="Phone Number" class="form-control">
    </div>
    <br>

    <div class="form-group">
        <label for="address">Address</label>
        <input id="address" type="text" formControlName="address" placeholder="Address" class="form-control">
    </div>
    <br>

    <div class="form-group">
        <label for="vat">VAT</label>
        <input id="vat" type="text" formControlName="vat" placeholder="VAT" class="form-control">
    </div>
    <br>

    <button type="submit" class="btn btn-success" [disabled]="updateUserForm.invalid">Update User</button>
    <br>
</form>