<h4>Users</h4>

<div class="container">
    <div *ngIf="!users || users.length === 0">
        <p >No users found.</p>
    </div>

    <div class="row" *ngIf="users && users.length > 0">
        <div *ngFor="let user of users" class="col-md-6 col-lg-4">
            <div class="card user-card mb-4">
              <div class="card-body">
                <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
                <!-- <p class="card-text"><strong>id:</strong> {{ user.id }}</p> -->
                <p class="card-text"><strong>Username:</strong> {{ user.userName }}</p>
                <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
                <p class="card-text"><strong>Phone:</strong> {{ user.phoneNumber }}</p>
                <p class="card-text"><strong>Address:</strong> {{ user.address }}</p>
                <p class="card-text"><strong>VAT:</strong> {{ user.vat }}</p>
                <button class="btn btn-primary mt-3" (click)="editUser(user.id)"><i class="bi bi-pencil"></i> Edit</button>
                <button class="btn btn-danger mt-3" (click)="deleteUser(user.id)"><i class="bi bi-trash"></i> Remove</button>
              </div>
            </div>
          </div>
    </div>
</div>

